/* Define the font */

@import '../../assets/Fonts/Web/arnhem/arnhem.css';
@import '../../assets/Fonts/Web/gentona/gentona.css';
@import '../../assets/Fonts/Web/quadon/quadon.css';
@import '../../assets/Fonts/Web/titling-gothic/titling-gothic.css';

.text-initial-blue {
    color: #63a8e0 !important;
    font-weight: 900;
}

.text-scroll-white {
    color: white !important;
    font-weight: 900;
}


